

@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&display=swap');
@font-face {
    font-family: 'klavika';
    src:        
        url(assets/font/klavika-regular-webfont.woff) format('woff');  
    font-weight: 400;
    font-style: normal;  
}
@font-face {
    font-family: 'klavika';
    src:        
        url(assets/font/klavika-bold-webfont.woff) format('woff');  
    font-weight: 700;
    font-style: bold;  
}
@font-face {
    font-family: 'klavika';
    src:        
        url(assets/font/klavika-medium-webfont.woff) format('woff');  
    font-weight: 500;
    font-style: medium;  
}
@font-face {
    font-family: 'klavika';
    src:        
        url(assets/font/klavika-light-webfont.woff) format('woff');  
    font-weight: 300;
    font-style: lighter;  
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

    /* overflow-x: hidden;
    overflow-y: hidden; */
    overflow: hidden;
}
 .container--slider{
     position: relative;
 }
 .slider{
  background-color: black;
  width: 100%;
 }

.slider__img{
    
    top: 0;
    left: 0;
    width: 550%;
    margin-left:0% ;
}
.slider__btn{
    position: absolute;
    /* background-color: green; */
    color: white;
    width: 40px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 60px;
    font-family: 'Advent Pro', sans-serif;
    
}
.slider__btn:hover{
    color: rgba(255, 255, 255, 0.87);
    cursor: pointer;
    
    
}

.slider__btn--left{
    position:absolute; 
    z-index:300;
    left: 10px;
}
.slider__btn--left:hover{
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;
    padding-right: 4px;
}


.slider__btn--right{
    position:absolute; 
    z-index:300;
    right:10px;
    
}
.slider__btn--right:hover{
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;
    padding-left: 4px;
}


.slider__phrase{
    position: absolute; 
    display: block;
    text-transform: uppercase;
    font-family: klavika;    
    font-size: 40px;
    font-weight: normal;    
    color: honeydew;
    text-decoration: underline 1px;
    
    width:330px;
    height: 150px;

    bottom: 30px;
    left: 30px;
}
.slider__phrase--one{
      
    top: 30px;
    left: 30px;
    
    
    
}
.slider__phrase--two{ 
    top: 46%;
    left: 50px;
}

.slider__phrase--three{ 
    top: 46%;
    left: 50px;
}
.slider__phrase--four{ 
    top: 40%;
    left: 70%;
    
}
.slider__phrase--five{ 
    top: 46%;
    left: 70%;
    text-align: right;
}
.slider__phrase--six{ 
    top: 40%;
    left: 70%;
    text-align: right;
    height: 250px;
}
.slider__phrase--seven{ 
    top: 46%;
    left: 50px;
}
.slider__phrase--eight{ 
    top: 46%;
    left: 50px;    
    width:360px;
}
.slider__phrase--nine{ 
    top: 46%;
    left: 50px;
}
.slider__phrase--ten{ 
    top: 3%;
    left: 76%;
}